<?xml version="1.0"?>
<config>
    <modules>
        <Storeteam_Paymentdiscount>
            <version>1.2.0</version>
        </Storeteam_Paymentdiscount>
    </modules>
    <global>
        <helpers>
            <paymentdiscount>
                <class>Storeteam_Paymentdiscount_Helper</class>
            </paymentdiscount>
        </helpers>
        <models>
            <paymentdiscount>
                <class>Storeteam_Paymentdiscount_Model</class>
            </paymentdiscount>
        </models>
        <blocks>
            <paymentdiscount>
                <class>Storeteam_Paymentdiscount_Block</class>
            </paymentdiscount>
        </blocks>
        <resources>
            <paymentdiscount_setup>
                <setup>
                    <module>Storeteam_Paymentdiscount</module>
                </setup>
            </paymentdiscount_setup>
        </resources>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <storeteam_paymentdiscount_collect>
                        <class>paymentdiscount/observer</class>
                        <method>collectBeforeTotals</method>
                    </storeteam_paymentdiscount_collect>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_convert_quote_to_order>
                <observers>
                    <storeteam_paymentdiscount_quote_to_order>
                        <class>paymentdiscount/observer</class>
                        <method>quoteToOrder</method>
                    </storeteam_paymentdiscount_quote_to_order>
                </observers>
            </sales_convert_quote_to_order>
        </events>
        <sales>
            <quote>
                <totals>
                    <paymentdiscount>
                        <class>paymentdiscount/total</class>
                        <after>shipping</after>
                    </paymentdiscount>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <paymentdiscount>
                    <file>paymentdiscount.xml</file>
                </paymentdiscount>
            </updates>
        </layout>
    </adminhtml>
</config>
